{% extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    <div class="row" id="titre_cgv">
        <h3 class="col-sm-12">Conditions Générales de Ventes</h3>
    </div>
    <hr>

    <div id="cgv_content">
        <div class="col-sm-6">
            <p>Entre la Société Musée National du Louvre, 34 Quai du Louvre, 75001 Paris,
                immatriculée au Registre du Commerce et des Sociétés de _____________ sous le numéro _____________,
                SIRET
                _____________, représentée par M. Jean DUPONT, en qualité de gérant, dûment habilité aux fins des
                présentes.
                La société peut être jointe par email en cliquant sur le formulaire de contact accessible via la page
                d’accueil du site. Ci-après le « Vendeur » ou la « Société ». Premiers éléments obligatoire :
                l'identification précise du vendeur - obligations imposées notamment par l'article 6 de la LCEN
                (sanctions 1
                an d'emprisonnement et 75.000€ d'amende à défaut), l'article 19 de la LCEN, les articles L111-1 et s. du
                Code de la conso.. Il est également obligatoire de fournir un point de contact (LCEN art. 6).D’une part,
                Et
                la personne physique ou morale procédant à l’achat de produits ou services de la société, Ci-après, «
                l’Acheteur », ou « le Client » D’autre part, Il a été exposé et convenu ce qui suit :PREAMBULE</p>

            <p>Le Vendeur est éditeur de produits et de services de _____________ exclusivement à destination de
                consommateurs, commercialisés par l’intermédiaire de ses sites Internet (http://_____________.com ). La
                liste et le descriptif des biens et services proposés par la Société peuvent être consultés sur les
                sites
                susmentionnés.</p>

            <p><h6>Article 1 :</h6> Objet Les présentes Conditions Générales de Vente déterminent les droits et
            obligations des
            parties dans le cadre de la vente en ligne de Produits proposés par le Vendeur.</p>

            <p><h6>Article 2 :</h6> Dispositions générales Les présentes Conditions Générales de Vente (CGV)
            s’appliquent à toutes
            les ventes de Produits, effectuées au travers des sites Internet de la Société qui sont partie intégrante du
            Contrat entre l’Acheteur et le Vendeur. Le Vendeur se réserve la possibilité de modifier les présentes, à
            tout moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors sont
            celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements multiples) de la
            commande. Ces CGV sont consultables sur le site Internet de la Société à l'adresse suivante : _____ . La
            Société s’assure également que leur acceptation soit claire et sans réserve en mettant en place une case à
            cocher et un clic de validation. Le Client déclare avoir pris connaissance de l’ensemble des présentes
            Conditions Générales de Vente, et le cas échéant des Conditions Particulières de Vente liées à un produit ou
            à un service, et les accepter sans restriction ni réserve. Le Client reconnaît qu’il a bénéficié des
            conseils et informations nécessaires afin de s’assurer de l’adéquation de l’offre à ses besoins. Le Client
            déclare être en mesure de contracter légalement en vertu des lois françaises ou valablement représenter la
            personne physique ou morale pour laquelle il s’engage. Sauf preuve contraire les informations enregistrées
            par la Société constituent la preuve de l’ensemble des transactions.</p>

            <p><h6>Article 3 :</h6>Prix Les prix des produits vendus au travers des sites Internet sont indiqués en
            Euros hors taxes
            et précisément déterminés sur les pages de descriptifs des Produits. Ils sont également indiqués en euros
            toutes taxes comprises (TVA + autres taxes éventuelles) sur la page de commande des produits, et hors frais
            spécifiques d'expédition. Pour tous les produits expédiés hors Union européenne et/ou DOM-TOM, le prix est
            calculé hors taxes automatiquement sur la facture. Des droits de douane ou autres taxes locales ou droits
            d'importation ou taxes d'état sont susceptibles d'être exigibles dans certains cas. Ces droits et sommes ne
            relèvent pas du ressort du Vendeur. Ils seront à la charge de l'acheteur et relèvent de sa responsabilité
            (déclarations, paiement aux autorités compétentes, etc.). Le Vendeur invite à ce titre l'acheteur à se
            renseigner sur ces aspects auprès des autorités locales correspondantes.La Société se réserve la possibilité
            de modifier ses prix à tout moment pour l’avenir. Les frais de télécommunication nécessaires à l’accès aux
            sites Internet de la Société sont à la charge du Client. Le cas échéant également, les frais de
            livraison.</p>
        </div>

        <div class="col-sm-6">
            <p><h6>Article 4 :</h6> Conclusion du contrat en ligne Le Client devra suivre une série d’étapes spécifiques
            à chaque
            Produit offert par le Vendeur pour pouvoir réaliser sa commande. Toutefois, les étapes décrites ci-après
            sont systématiques : ➢ Information sur les caractéristiques essentielles du Produit ; ➢ Choix du Produit, le
            cas échéant de ses options et indication des données essentielles du Client (identification, adresse…) ; ➢
            Acceptation des présentes Conditions Générales de Vente. ➢ Vérification des éléments de la commande et, le
            cas échéant, correction des erreurs. ➢ Suivi des instructions pour le paiement, et paiement des produits. ➢
            Livraison des produits. Le Client recevra alors confirmation par courrier électronique du paiement de la
            commande, ainsi qu’un accusé de réception de la commande la confirmant. Il recevra un exemplaire .pdf des
            présentes conditions générales de vente. Pour les produits livrés, cette livraison se fera à l’adresse
            indiquée par le Client. Aux fins de bonne réalisation de la commande, et conformément à l’article 1316-1 du
            Code civil, le Client s’engage à fournir ses éléments d’identification véridiques. Le Vendeur se réserve la
            possibilité de refuser la commande, par exemple pour toute demande anormale, réalisée de mauvaise foi ou
            pour tout motif légitime.</p>


            <p><h6>Article 5 :</h6> Produits et services Les caractéristiques essentielles des biens, des services et
            leurs prix
            respectifs sont mis à disposition de l’acheteur sur les sites Internet de la société. Le client atteste
            avoir reçu un détail des frais de livraison ainsi que les modalités de paiement, de livraison et d’exécution
            du contrat. Le Vendeur s’engage à honorer la commande du Client dans la limite des stocks de Produits
            disponibles uniquement. A défaut, le Vendeur en informe le Client. Ces informations contractuelles sont
            présentées en détail et en langue française. Conformément à la loi française, elles font l’objet d’un
            récapitulatif et d’une confirmation lors de la validation de la commande. Les parties conviennent que les
            illustrations ou photos des produits offerts à la vente n’ont pas de valeur contractuelle. La durée de
            validité de l’offre des Produits ainsi que leurs prix est précisée sur les sites Internet de la Société,
            ainsi que la durée minimale des contrats proposés lorsque ceux-ci portent sur une fourniture continue ou
            périodique de produits ou services. Sauf conditions particulières, les droits concédés au titre des
            présentes le sont uniquement à la personne physique signataire de la commande (ou la personne titulaire de
            l’adresse email communiqué).Conformément aux dispositions légales en matière de conformité et de vices
            cachés, le Vendeur rembourse ou échange les produits défectueux ou ne correspondant pas à la commande. Le
            remboursement peut être demandé de la manière suivante : ________ (décrire la procédure de remboursement, et
            comment le produit doit être retourné, et le remboursement des frais d'expédition le cas échéant).</p>

            <p><h6>Article 6 :</h6> Clause de réserve de propriété Les produits demeurent la propriété de la Société
            jusqu’au complet
            paiement du prix.</p>

            <p><h6>Article 7 :</h6> Modalités de livraison: Le produit vendu est envoyé au client par email,
            immédiatement après la
            finalisation du paiement de ce dernier.</p>

            <p><h6>Article 8 :</h6> Paiement Le paiement est exigible immédiatement à la commande, y compris pour les
            produits en
            précommande. Le Client peut effectuer le règlement par carte de paiement ou chèque bancaire. Les cartes
            émises par des banques domiciliées hors de France doivent obligatoirement être des cartes bancaires
            internationales (Mastercard ou Visa).Le paiement sécurisé en ligne par carte bancaire est réalisé par notre
            prestataire de paiement. Les informations transmises sont chiffrées dans les règles de l’art et ne peuvent
            être lues au cours du transport sur le réseau ____ (décrire le process). Une fois le paiement lancé par le
            Client, la transaction est immédiatement débitée après vérification des informations. Conformément à
            l’article L. 132-2 du Code monétaire et financier, l’engagement de payer donné par carte est irrévocable. En
            communiquant ses informations bancaires lors de la vente, le Client autorise le Vendeur à débiter sa carte
            du montant relatif au prix indiqué. Le Client confirme qu’il est bien le titulaire légal de la carte à
            débiter et qu’il est légalement en droit d’en faire usage. En cas d’erreur, ou d’impossibilité de débiter la
            carte, la Vente est immédiatement résolue de plein droit et la commande annulée.</p>

            <p>Suite des cgv...</p>
        </div>
    </div>


{% endblock %}