{%  extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    Etape 2 - Saisie des Infos - {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}