{%  extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    <div class="jumbotron">
        <div class="col-md-4">
            <span class="glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-md-8 well">Nous avons bien reçu votre paiement.<br>
            Un email contenant votre code de réservation vient de vous être envoyé.<br>
        Cet email fera foi de billet d'entrée dans notre musée et vous sera demandé à l'entrée<br>
        ainsi que les pièces justifiant les tarifs réduits dont vous auriez éventuellement bénéficié.<br>
        </div>
    </div>

{% endblock %}