{%  extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    <h4> Etape 4 - Confirmation de paiement et envoi de l'email</h4>

    <div class="row formstyle">
        <div id="confirmation_text" class="col-md-offset-2 col-md-8 formstyle">Nous avons bien reçu votre paiement.<br>
            Un email contenant votre code de réservation vient de vous être envoyé.<br>
        Cet email fera foi de billet d'entrée dans notre musée et vous sera demandé à l'entrée<br>
        ainsi que les pièces justifiant les tarifs réduits dont vous auriez éventuellement bénéficié.<br>
        </div>
    </div>

{% endblock %}