{%  extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    Etape 3 - Récapitulatif / Validation - {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    Etape 3

    <div class="well">
        {{ email }}
    </div>

{% endblock %}