{%  extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    Etape 1 - Choix du Billet - {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    <div class="well">
        {{ form(formView) }}
    </div>

{% endblock %}