div#container-content, div.form-group, div.formstyle{
    background-color: #222222 ;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: white;
}

a.navi, div#tarifs>a, div#cgv>a{
    color: white;
}

div#recap_order{
    border: 1px solid #333;
    border-radius: 25px;
    padding-top: 30px;
    padding-left: 20px;
}

div#recap_price, div#recap_infos, div#confirmation_text{
    border: 1px solid #333;
    border-radius: 25px;
    padding: 10px 15px 15px 15px;
}

.checkbox label{
    color: #222222;
}

span.color_icon_bar {
    color:white;
}

nav#menu{
    margin-top: 10px;
    background-color: #222222;
    border: none;
}

img#logo_entete, div#container-content{
    margin-top: 15px;
}

div#titre>h1, div#titre>h4{
    font-size: 55px;
}

div.formstyle{
    margin-top: 30px;
}

a#back-button, input#validButton, button#pay_button, div#cgv_content{
    background-color: #C82D00;
    color: white;;
    font-size: 11px;
}

hr.border{
    border-top-color: #333;
}

a#back-button{
    margin-top: 50px;
}

.row {
    margin-left: -30px;
}

div#footer {
    margin-bottom: 15px;
}

#mailTitle {
    color: white;
    width: 480px;
}

/*Media Queries*/

@media (max-width: 1024px) {
    div#titre>h1 {
        font-size: 30px;
    }

}