body#body-content{
    background-color: #010101;
    font-family: Georgia,"Times New Roman",Times,serif;
}

div#header{
    color: white;
}

hr.border{
    border-top-color: #333;
}


a#back-button{
    margin-top: 50px;
}

.row {
    margin-left: -30px;
}

#mailTitle {
    color: white;
    width: 480px;
}